<?xml version="1.0" encoding="utf-8"?>
<controlsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6502.0">
	<viewMap>
		<viewSettings layoutTemplatePath="~/Templates/HtmlField.ascx" hostType="Telerik.Sitefinity.Web.UI.Fields.HtmlField, Telerik.Sitefinity" />
		<viewSettings layoutTemplatePath="~/Templates/ContentBlockTemplate.ascx" hostType="Telerik.Sitefinity.Modules.GenericContent.Web.UI.ContentBlock, Telerik.Sitefinity" />
	</viewMap>
</controlsConfig>