<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="10.1.6502.0" authCookieName=".SFAUTH-SitefinityProject" rolesCookieName=".SFROLES-SitefinityProject" validationKey="AC056F485457059ACD5F0D87FAD44C1B0354083153A02023E0DEBE526ED7A7DDE68C10ABBABDD49541B21A35CA809F424A1AEEBAAE79548B9244A0D6C363FBCB" decryptionKey="7240CD3A21EA0A7AE8DD3F38BBE23A68327E87D13FB4FD21690029022610FB44" loggingCookieName=".SFLOG-SitefinityProject">
	<securityTokenIssuers>
		<add key="4A17539C42B7AABCE65524F2F8A64D188F1D1556EBA2FBE6CB884A69DC1FD4A6" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="4A17539C42B7AABCE65524F2F8A64D188F1D1556EBA2FBE6CB884A69DC1FD4A6" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="9216e4f0-55b1-44b4-b2b4-9e48c4993cfb" name="Everyone" config:flags="1" />
		<role id="709017de-7225-4f50-85bb-f2797ee55b63" name="Anonymous" config:flags="1" />
		<role id="b8cf9a3a-b935-476d-8ab0-9d1034b04f8f" name="Authenticated" config:flags="1" />
		<role id="1b8be928-e91c-4514-af3d-cec778dd4c5e" name="Owner" config:flags="1" />
		<role id="adf33b2a-5ea0-4e59-97f1-e606be647596" name="Administrators" config:flags="1" />
		<role id="cbb7a539-5b38-4a67-a046-ea8d447e9ce5" name="BackendUsers" config:flags="1" />
		<role id="125b19e9-312c-4b5a-b412-71085dbb8a02" name="Authors" config:flags="1" />
		<role id="c8b6ad3a-326a-4687-b109-491e6b6813fc" name="Editors" config:flags="1" />
		<role id="36bb16d2-fce2-47ef-adf0-4a208de6c253" name="Designers" config:flags="1" />
		<role id="b085e247-5430-42e8-9c2c-4c74ae1cf13a" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>