.car-row {
    margin: 0 auto;
    text-align: center;
}

    .car-wrapper img,
    .car-row div {
        margin: 0 auto;
    }

    .car-row div {
        height: 200px;
        width: 200px;
    }

        .car-row div span {
            line-height: 200px;
        }

.car-wrapper {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    width: 20%;
    margin: 0 auto;
}

.slick-prev:before, .slick-next:before {
    color: gray !important;
}
